body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.named-li code {
  color: green
}

code {
  color: red;
  font-family: monospace;
}

#assignment-instructions {
  color: rgb(185, 182, 9);
  font-family: sans-serif;
}

li:not(:first-child) {
  background-color: black;
  color: white;
}
ol li {
  background-color: black;
  color: white
}